<div class="blog-list-item">
    <img class="blog-list-item-img" src="images/blog-item-photo.jpg" alt="">
    <div class="item-cont">
        <a href="#" class="h2 item-cont-title">Название данной статьи содержит несколько слов</a>
        <div class="item-cont-text">Всемирная сеть в том виде, в каком мы привыкли её видеть, существует уже достаточно времени, чтобы подвести некоторые итоги. Сегодня практически не осталось области человеческой деятельности, которая бы не почувствовала на себе влияние этого феномена. Однако всегда ли это влияние было положи</div>
        <div class="item-cont-footer">
            <img class="avatar" src="images/avatar.jpg" alt="">
            <div class="author">Имя Автора</div>
            <div class="date border-left">3 марта, 2018</div>
            <div class="reviews border-left">454</div>
            <div class="comments border-left">40</div>
        </div>
    </div>
</div>
