<div class="row">
    <div class="app-card">
        <a href="#!" class="card">
            <img src="./images/game-top-img.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="feedback-rate-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
            </div>
        </a>
    </div>
    <div class="app-card">
        <a href="#!" class="card">
            <img src="./images/game-top-img.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="feedback-rate-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
            </div>
        </a>
    </div>
    <div class="app-card">
        <a href="#!" class="card">
            <img src="./images/game-top-img.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="feedback-rate-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
            </div>
        </a>
    </div>
    <div class="app-card">
        <a href="#!" class="card">
            <img src="./images/game-top-img.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="feedback-rate-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
            </div>
        </a>
    </div>
    <div class="app-card">
        <a href="#!" class="card">
            <img src="./images/game-top-img.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="feedback-rate-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
            </div>
        </a>
    </div>
    <div class="app-card">
        <a href="#!" class="card">
            <img src="./images/game-top-img.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="feedback-rate-stars">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
            </div>
        </a>
    </div>
</div>