<label class="faq-quest-single">
    <input type="checkbox" class="faq-quest-switcher">
    <div class="faq-quest">
        <div class="top-visible">
            <div class="faq-question">
                Вопрос 01 и его полное название?
            </div>
            <div class="faq-quest-info">
                <div class="faq-quest-metadata">
                    <img src="images/avatar.jpg" alt="" class="faq-quest-avatar">
                    <div class="faq-auth-name">Имя Автора</div>
                    <div class="faq-quest-date">3 марта, 2018</div>
                </div>
            </div>
        </div>
        <div class="bottom-hidden">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            maecenas accumsan lacus vel facilisis.
        </div>
    </div>
    
</label>
