<footer>
    <div class="inner-wrap">
        <div class="footer-cont">
            <div class="footer-links">
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
                <a href="#!" class="footer-links-item">Здесь будет ссылка</a>
            </div>
            <div class="order">
                <button class="btn btn--order modal-show">Заказать</button>
            </div>
            <div class="counter">
                Счетчик
            </div>
        </div>

    </div>
</footer>
