<footer class="mt-3 pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 footer-main mb-3">
                <div class="footer-img mr-3 mb-3">
                    <img src="./images/game-top-img.jpg" alt="">
                </div>
                <div class="footer-text">
                    <p class="h4">Setapps</p>
                    <div class="footer-descr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, at cupiditate deserunt dolorum enim eum exercitationem ipsa libero nam neque nihil non pariatur quae quos ratione repellendus similique suscipit vitae.
                    </div>
                    <a href="#1" class="more mt-2">Read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="footer-form">
                    <p class="h4">Join my mailing list</p>
                    <form class="text-center">
                        <input type="email" class="form-control mb-3" placeholder="E-mail">
                        <button class="btn btn-warning btn-block" type="submit">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col tags mt-2">
                <p class="h4">Search by Tag</p>
                <p>
                    <a href="#!">word</a>
                    <a href="#!">word</a>
                    <a href="#!">word</a>
                    <a href="#!">word</a>
                    <a href="#!">word</a>
                    <a href="#!">word</a>
                    <a href="#!">word</a>
                </p>
            </div>
        </div>
    </div>
</footer>