<header>
	<div class="inner-wrap">
		<a href="#">
			<img class="logo" src="#" alt="LOGO ВАЛЕРЧИК">
		</a>
		
		<nav>
			<ul class="main-menu">
				<li class="main-menu-item">
					<a href="#!">блог</a>
					<ul class="sub-menu">
						<li class="sub-menu-block">
							<h3 class="sub-menu-block-title">SEO</h3>
							<a href="#!">SEO продвижение</a>
							<a href="#!">SEO аудит</a>
							<a href="#!">SEO прогоны</a>
							<a href="#!">Подбор ключей</a>
							<a href="#!">Разработка стратегии</a>
						</li>
						<li class="sub-menu-block">
							<h3 class="sub-menu-block-title">Текста</h3>
							<a href="#!">Написание текста</a>
							<a href="#!">Копирайт на заказ</a>
							<a href="#!">Рерайт на заказ</a>
							<a href="#!">Продающие посты в соцсети</a>
						</li>
						<li class="sub-menu-block">
							<h3 class="sub-menu-block-title">Ведение</h3>
							<a href="#!">Введение</a>
							<a href="#!">Ведение сайта</a>
							<a href="#!">Ведение соцсетей</a>
							<a href="#!">Наполнение соцсетей</a>
						</li>
						<li class="sub-menu-block">
							<h3 class="sub-menu-block-title">SMM</h3>
							<a href="#!">Социальные сети</a>
							<a href="#!">Таргет</a>
							<a href="#!">Создание соцсетей</a>
							<a href="#!">Продвижение</a>
						</li>
					</ul>
				</li>
				<li class="main-menu-item"><a href="#!">faq</a></li>
				<li class="main-menu-item"><a href="#!">кейсы</a></li>
				<li class="main-menu-item"><a href="#!">seo аудит</a></li>
			</ul>
		</nav>
		
		<div class="main-menu-btn">
			<span class="line-1"></span>
			<span class="line-2"></span>
			<span class="line-3"></span>
			<span class="cross"></span>
		</div>
	</div>
</header>
