<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

					<!-- Navbar brand -->
					<a class="navbar-brand text-uppercase" href="#">sata logo</a>

					<div class="collapse navbar-collapse">
						<nav id="main-nav">
							<ul class="first-nav">
								<li class="search">
									<div class="form-container">
										<form class="search-form" action="" method="">
											<input type="text" name="" placeholder="Search" autocomplete="off">
										</form>
									</div>
								</li>
							</ul>
							<!-- Links -->

							<ul class="second-nav">
								<li class="">
									<a class="category-header">Андроид</a>
									<ul>
										<li class="">
											<a href="#" class="category-header">Игры для Android</a>
											<ul>
												<li><a href="#">Аркады</a></li>
												<li><a href="#">Викторины</a></li>
												<li><a href="#">Головоломки</a></li>
												<li><a href="#">Гонки</a></li>
												<li><a href="#">Казино</a></li>
												<li><a href="#">Казуальные</a></li>
												<li><a href="#">Карточные</a></li>
												<li><a href="#">Музыкальные</a></li>
												<li><a href="#">Настольные</a></li>
												<li><a href="#">Обучающие</a></li>
												<li><a href="#">Приключения</a></li>
												<li><a href="#">Ролевые</a></li>
												<li><a href="#">Симуляторы</a></li>
												<li><a href="#">Словесные</a></li>
												<li><a href="#">Спортивные</a></li>
												<li><a href="#">Стратегии</a></li>
												<li><a href="#">Action</a></li>
											</ul>
										</li>
										<li class="">
											<a href="#" class="category-header">приложения для Android</a>
											<ul>
												<li><a href="#">Фотография</a></li>
												<li><a href="#">Финансы</a></li>
												<li><a href="#">Стиль жизни</a></li>
												<li><a href="#">Спорт</a></li>
												<li><a href="#">Социальные</a></li>
												<li><a href="#">Развлечения</a></li>
												<li><a href="#">Жилье и дом</a></li>
												<li><a href="#">Инструменты</a></li>
												<li><a href="#">Комиксы</a></li>
												<li><a href="#">Медицина</a></li>
												<li><a href="#">Музыка и аудио</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</nav>

						<div class="toggle-container">
							<a class="toggle">
								<span></span>
							</a>
						</div>

						<!-- Search form -->
						<form class="form-inline">
							<div class="md-form my-0">
								<input class="form-control mr-sm-2" type="text" placeholder="Search"
									   aria-label="Search">
								<button class="btn my-2 my-sm-0 btn_nav-search" type="submit">Search</button>
							</div>
						</form>

					</div>
					<!-- Collapsible content -->

				</nav>
				<!-- Navbar -->
			</div>

		</div>
	</div>
</header>
