<header>
	<div class="inner-wrap">
		<a class="logo" href="/">
			<span>SEO</span>
			<span>zp.</span>
			<span>ru</span>
		</a>

		<input type="checkbox" id="main-menu-switch" class="main-menu-switch">
		
		<nav>
			<ul class="main-menu">
				<li class="main-menu-item">
					<a href="#!">блог</a>
					<!--<ul class="sub-menu">-->
						<!--<li class="sub-menu-block">-->
							<!--<h3 class="sub-menu-block-title">SEO</h3>-->
							<!--<a href="#!">SEO продвижение</a>-->
							<!--<a href="#!">SEO аудит</a>-->
							<!--<a href="#!">SEO прогоны</a>-->
							<!--<a href="#!">Подбор ключей</a>-->
							<!--<a href="#!">Разработка стратегии</a>-->
						<!--</li>-->
						<!--<li class="sub-menu-block">-->
							<!--<h3 class="sub-menu-block-title">Текста</h3>-->
							<!--<a href="#!">Написание текста</a>-->
							<!--<a href="#!">Копирайт на заказ</a>-->
							<!--<a href="#!">Рерайт на заказ</a>-->
							<!--<a href="#!">Продающие посты в соцсети</a>-->
						<!--</li>-->
						<!--<li class="sub-menu-block">-->
							<!--<h3 class="sub-menu-block-title">Ведение</h3>-->
							<!--<a href="#!">Введение</a>-->
							<!--<a href="#!">Ведение сайта</a>-->
							<!--<a href="#!">Ведение соцсетей</a>-->
							<!--<a href="#!">Наполнение соцсетей</a>-->
						<!--</li>-->
						<!--<li class="sub-menu-block">-->
							<!--<h3 class="sub-menu-block-title">SMM</h3>-->
							<!--<a href="#!">Социальные сети</a>-->
							<!--<a href="#!">Таргет</a>-->
							<!--<a href="#!">Создание соцсетей</a>-->
							<!--<a href="#!">Продвижение</a>-->
						<!--</li>-->
					<!--</ul>-->

					<ul class="sub-menu">
						<li id="menu-item-62674" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-62674"><a href="#">SEO</a>
							<ul class="sub-menu">
								<li id="menu-item-20" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="https://s.seozp.ru/seo-audit">SEO АУДИТ</a></li>
								<li id="menu-item-62677" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-62677"><a href="https://s.seozp.ru/">SEO продвижение</a></li>
								<li id="menu-item-62676" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-62676"><a href="https://s.seozp.ru/">SEO аудит</a></li>
								<li id="menu-item-62678" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-62678"><a href="https://s.seozp.ru/">SEO прогоны</a></li>
								<li id="menu-item-62679" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62679"><a href="#">Подбор ключей</a></li>
								<li id="menu-item-62680" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62680"><a href="#">Разработка стратегии</a></li>
							</ul>
						</li>
						<li id="menu-item-94" class="sub-menu-block menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-94"><a href="https://s.seozp.ru/category/teksta">ТЕКСТА</a>
							<ul class="sub-menu">
								<li id="menu-item-62681" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62681"><a href="#">Написание текста</a></li>
								<li id="menu-item-62684" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62684"><a href="#">Рерайт на заказ</a></li>
								<li id="menu-item-62682" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62682"><a href="#">Копирайтинг на заказ</a></li>
								<li id="menu-item-62683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62683"><a href="#">Продающие посты</a></li>
							</ul>
						</li>
						<li id="menu-item-62675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-62675"><a href="https://s.seozp.ru/">ВЕДЕНИЕ</a>
							<ul class="sub-menu">
								<li id="menu-item-62685" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62685"><a href="#">Ведение</a></li>
								<li id="menu-item-62686" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62686"><a href="#">Ведение сайта</a></li>
								<li id="menu-item-62687" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62687"><a href="#">Ведение соцсетей</a></li>
								<li id="menu-item-62688" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62688"><a href="#">Наполнение соцсетей</a></li>
								<li id="menu-item-62694" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62694"><a href="#">Контекстная реклама</a></li>
							</ul>
						</li>
						<li id="menu-item-93" class="sub-menu-block menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-93"><a href="https://s.seozp.ru/category/smm">SMM</a>
							<ul class="sub-menu">
								<li id="menu-item-62691" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62691"><a href="#">Социальные сети</a></li>
								<li id="menu-item-62692" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62692"><a href="#">Создание соцсетей</a></li>
								<li id="menu-item-62689" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62689"><a href="#">Таргет</a></li>
								<li id="menu-item-62690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62690"><a href="#">SMM продвижение</a></li>
								<li id="menu-item-62693" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-62693"><a href="#">Оформление соцсетей</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="main-menu-item"><a href="#!">faq</a></li>
				<li class="main-menu-item"><a href="#!">кейсы</a></li>
				<li class="main-menu-item"><a href="#!">seo аудит</a></li>
			</ul>
		</nav>
		
		<label for="main-menu-switch" class="main-menu-btn">
			<span class="line-1"></span>
			<span class="line-2"></span>
			<span class="line-3"></span>
			<span class="cross"></span>
		</label>
	</div>
</header>
