<section class="pagination">
    <div class="inner-wrap">
        <nav>
            <ul class="pagination-nav">
                <li><a href="#" class="disabled-link">Первая</a></li>
                <li><a href="#" class="active-page">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#" class="disabled-link">...</a></li>
                <li><a href="#">24</a></li>
                <li><a href="#">Последняя</a></li>
            </ul>
        </nav>
    </div>
</section>