<section class="pagination">
    <div class="inner-wrap">
        <!--<nav>-->
            <!--<ul class="pagination-nav">-->
                <!--<li><a href="#" class="disabled-link">Первая</a></li>-->
                <!--<li><a href="#" class="active-page">1</a></li>-->
                <!--<li><a href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#" class="disabled-link">...</a></li>-->
                <!--<li><a href="#">24</a></li>-->
                <!--<li><a href="#">Последняя</a></li>-->
            <!--</ul>-->
        <!--</nav>-->
        <nav class="pagination-nav">
            <div class="prev-page">
                <span>Предыдущая</span>
            </div>
            <div class="page-links">
                <span>1</span> <a href="https://new.seozp.ru/page/2/">2</a>
            </div>
            <div class="next-page">
                <a href="https://new.seozp.ru/page/2/">Следующая</a>
            </div>
        </nav>
    </div>
</section>