<nav aria-label="">
    <ul class="pagination pg-blue pagination-lg justify-content-center my-4">
        <li class="page-item">
            <a class="page-link" tabindex="-1">&laquo;</a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item active">
            <a class="page-link">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a class="page-link">&raquo;</a>
        </li>
    </ul>
</nav>