<div class="sidebar-cont">
    <div class="sidebar-form">
        <h2 class="sidebar-title sidebar-title--form">SEO Продвижение</h2>
        <form class="seo-form" action="">
            <div class="inputs-side">
                <label>
                    <span>Ваше имя</span>
                    <input type="text">
                </label>
                <label>
                    <span>Почта</span>
                    <input type="email" class="shadow">
                </label>
                <label>
                    <span>Сайт</span>
                    <input type="text">
                </label>
            </div>
            <button type="button" class="seo-form-btn">
                Заказать
            </button>
        </form>
    </div>
    
    <div class="sidebar-services">
        <h2 class="sidebar-title sidebar-title--services">топ услуги</h2>
    </div>
</div>
