<div class="sidebar-cont">
    <div class="sidebar-form">
        <h2 class="sidebar-title sidebar-title--form">SEO Продвижение</h2>
        <form class="seo-form" action="">
            <div class="inputs-side">
                <label>
                    <span>Ваше имя</span>
                    <input type="text">
                </label>
                <label>
                    <span>Почта</span>
                    <input type="email">
                </label>
                <label>
                    <span>Сайт</span>
                    <input type="text">
                </label>
            </div>
            <button type="button" class="btn btn--seo-form">
                Заказать
            </button>
        </form>
    </div>
    
    <div class="sidebar-services">
        <h2 class="sidebar-title sidebar-title--services">топ услуги</h2>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="#" class="btn btn--services bg-trophy">Продвижение</a></li>
                <li><a href="#" class="btn btn--services bg-inform">SEO Аудит</a></li>
                <li><a href="#" class="btn btn--services bg-social">Социальные сети</a></li>
                <li><a href="#" class="btn btn--services bg-link">Прогон сайта</a></li>
                <li><a href="#" class="btn btn--services bg-text">Копирайтинг</a></li>
                <li><a href="#" class="btn btn--services btn--back-white bg-wallet">Прайс</a></li>
            </ul>
        </nav>
    </div>

    <div class="sidebar-announce">
        <h2 class="sidebar-title">актуальные</h2>
        <p class="announce-post info-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>
        <p class="announce-post comment-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>
    </div>

    <a href="#" class="sidebar-commerc" style="background-image: url('images/blog-item-photo.jpg')">
        <div class="sidebar-title">Реклама</div>
    </a>
    <div style="height: 100%"></div>
</div>
