<div class="sidebar-cont">
    <div class="sidebar-faq-form ">
        <h2 class="sidebar-title sidebar-title--faq-form">Задать вопрос</h2>
        <form class="faq-form" action="">
            <div class="inputs-side">
                <label class="form-sect">
                    <span class="faq-form-label">Ваше имя</span>
                    <input type="text" placeholder="Иван Петров">
                </label>
                <label class="form-sect">
                    <span class="faq-form-label">Почта</span>
                    <textarea name="" id="" placeholder="Краткое описание"></textarea>
                </label>
                <div class="gender">
                    <div class="faq-form-label">Ваш пол</div>
                    <label>
                        <input type="radio" name="gender">
                        <span>Женский</span>
                    </label>
                    <label>
                        <input type="radio" name="gender">
                        <span>Мужской</span>
                    </label>
                </div>
            </div>
            <button type="button" class="btn btn--faq-form">
                Отправить
            </button>
        </form>
    </div>
    
    <div class="sidebar-pop-quest">
        <h2 class="sidebar-title sidebar-title--pop">Популярные вопросы</h2>
        <div class="pop-quest-item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  adipiscing elit, sed ... ?</p>
            <a href="#!">Подробнее</a>
        </div>
        <div class="pop-quest-item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  adipiscing elit, sed ... ?</p>
            <a href="#!">Подробнее</a>
        </div>
        <div class="pop-quest-item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  adipiscing elit, sed ... ?</p>
            <a href="#!">Подробнее</a>
        </div>
        <div class="pop-quest-item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  adipiscing elit, sed ... ?</p>
            <a href="#!">Подробнее</a>
        </div>
    </div>

    <div class="sidebar-specialists">
        <h2 class="sidebar-title sidebar-title--spec">специалисты</h2>
        <div class="specialists">
            <div class="specialists-item">
                <img src="images/comment-photo-min.jpg" alt="">
                <div class="specialists-name">Иван иванов</div>
                <div class="specialists-position">seo пециалист</div>
            </div>
            <div class="specialists-item">
                <img src="images/comment-photo-min.jpg" alt="">
                <div class="specialists-name">Иван иванов</div>
                <div class="specialists-position">seo пециалист</div>
            </div>
            <div class="specialists-item">
                <img src="images/comment-photo-min.jpg" alt="">
                <div class="specialists-name">Иван иванов</div>
                <div class="specialists-position">seo пециалист</div>
            </div>
            <div class="specialists-item">
                <img src="images/comment-photo-min.jpg" alt="">
                <div class="specialists-name">Иван иванов</div>
                <div class="specialists-position">seo пециалист</div>
            </div>
        </div>
    </div>

    <div class="sidebar-announce sidebar-announce--faq">
        <h2 class="sidebar-title">актуальные</h2>
        <p class="announce-post info-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>
        <p class="announce-post comment-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>
    </div>

    <a href="#" class="sidebar-commerc" style="background-image: url('images/blog-item-photo.jpg')">
        <div class="sidebar-title">Реклама</div>
    </a>
    <div style="height: 100%"></div>
</div>
