<div class="sidebar-cont">
    <div class="sidebar-faq-form ">
        <h2 class="sidebar-title sidebar-title--faq-form">Задать вопрос</h2>
        <form class="faq-form" action="">
            <div class="inputs-side">
                <label class="form-sect">
                    <span class="faq-form-label">Ваше имя</span>
                    <input type="text" placeholder="Иван Петров">
                </label>
                <label class="form-sect">
                    <span class="faq-form-label">Почта</span>
                    <textarea name="" id="" placeholder="Краткое описание"></textarea>
                </label>
                <div class="gender">
                    <div class="faq-form-label">Ваш пол</div>
                    <label>
                        <input type="radio" name="gender">
                        <span>Женский</span>
                    </label>
                    <label>
                        <input type="radio" name="gender">
                        <span>Мужской</span>
                    </label>
                </div>
            </div>
            <button type="button" class="btn">
                Отправить
            </button>
        </form>
    </div>
    
    <div class="sidebar-services">
        <h2 class="sidebar-title sidebar-title--services">топ услуги</h2>
        <nav class="sidebar-nav">
            <ul>
                <li><a href="#" class="btn btn--services bg-trophy">Продвижение</a></li>
                <li><a href="#" class="btn btn--services bg-inform">SEO Аудит</a></li>
                <li><a href="#" class="btn btn--services bg-social">Социальные сети</a></li>
                <li><a href="#" class="btn btn--services bg-link">Прогон сайта</a></li>
                <li><a href="#" class="btn btn--services bg-text">Копирайтинг</a></li>
                <li><a href="#" class="btn btn--services btn--back-white bg-wallet">Прайс</a></li>
            </ul>
        </nav>
    </div>

    <div class="sidebar-announce">
        <h2 class="sidebar-title">актуальные</h2>
        <p class="announce-post info-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>
        <p class="announce-post comment-post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        </p>
    </div>

    <a href="#" class="sidebar-commerc" style="background-image: url('images/blog-item-photo.jpg')">
        <div class="sidebar-title">Реклама</div>
    </a>
    <div style="height: 100%"></div>
</div>
