.main-cont--article {
  padding-top: 75px;

  @media only screen and (max-width: $breakpoint-1090) {
    padding-top: 30px;
  }

  .inner-wrap {
    background: url(../images/spec-bg-round-min.png) -5% 25% no-repeat,
                url(../images/spec-bg-round-min.png) 80% 50% no-repeat,
                url(../images/spec-bg-round-min.png) -5% 60% no-repeat,
                url(../images/spec-bg-round-min.png) 88% 90% no-repeat,
                url(../images/blog-main-1-min.png) 0 100% no-repeat;
  }
}

.article {
  &-main-title {
    font-size: 2.25rem;
    color: var(--dark-blue);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3;
    padding-bottom: 4px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--white-blue);
  }

  &-section {
    border: 1px solid var(--white-blue);
    border-radius: 10px;
    padding: 16px;
    box-shadow: var(--round-shadow-alpha-blue-20);
    background-color: #fff;

    p {
      color: var(--black-light);
      font-weight: 300;
      margin-bottom: 32px;
      text-align: justify;

      @media only screen and (max-width: $breakpoint-md) {
        margin-bottom: 10px;
      }

      &.entry-text {
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom: 52px;

        @media only screen and (max-width: $breakpoint-md) {
          margin-bottom: 25px;
        }
      }
    }
  }

  &-img {
    width: calc(100% + 34px);
    height: 402px;
    position: relative;
    top: -17px;
    left: -17px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 36px;

    @media only screen and (max-width: $breakpoint-sm) {
      height: 250px;
      margin-bottom: 10px;
    }
  }

  &-info-top {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    color: #fff;

    .author {
      padding-right: 0;
      font-weight: 300;
    }
  }

  &-info-bottom {
    position: absolute;
    bottom: 65px;
    left: 5px;
    z-index: 10;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
    color: #fff;
    font-size: 0.875rem;
    font-weight: 300;

    .reviews {
      padding: 0 10px 0 50px;
    }

    .comments {
      padding: 0 10px 0 50px;
      background-position: 15px 2px;
      border-left: 1px solid #fff;
    }

    .date {
      padding: 0 10px;
      border-left: 1px solid #fff;
      line-height: inherit;
    }
  }
}

.recommended-art {
  background: var(--dark-blue);
  position: relative;
  width: calc(100% + 34px);
  left: -17px;
  border-radius: 0 10px 10px 0;
  display: flex;
  box-shadow: var(--round-shadow-alpha-blue-70);
  margin: 85px 0;

  @media only screen and (min-width: 641px) {
    background: var(--dark-blue) url("../images/article-bg-min.jpg") no-repeat;
    background-position: top right;
    background-size: 50% 100%;
  }

  @media only screen and (max-width: $breakpoint-md) {
    border-radius: 10px;
    margin: 35px 0;
  }

  @media only screen and (max-width: $breakpoint-640) {
    flex-direction: column;
  }

  &:before, &:after {
    content: '';
    display: block;
    background: var(--light-blue);
    height: 1px;
    width: calc(100% - 32px);
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-20px);
  }

  &:after {
    top: unset;
    bottom: 0;
    transform: translate(0, 20px);
  }

  &-side {
    width: 50%;
    padding: 35px 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $breakpoint-640) {
      width: 100%;
    }
  }

  &-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-blue);
    line-height: 1.1;
    margin-bottom: 32px;
    text-align: center;
  }

  &-card {
    box-shadow: var(--round-shadow-alpha-blue-70);
    display: block;
    border-radius: 10px;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 165px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }
}

.l-side {
  background: #fff;
  position: relative;

  &:before {
    content: '';
    display: block;
    background: var(--dark-blue);
    height: 100%;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    @media only screen and (max-width: $breakpoint-md) {
      display: none;
    }
  }
}

.r-side {
  color: #fff;

  .recommended-art-title {
    color: #fff;
  }

  ul, ol {
    padding: 0;
  }

}

.art-card-cont {
  padding: 14px 10px;
}

.categ-label {
  background: var(--light-blue);
  color: #fff;
  text-transform: uppercase;
  font-size: 0.5625rem;
  padding: 2px 10px;
  font-weight: 300;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 8px;
}

.btn--blog-art {
  border: 2px solid #fff;
  color: #fff;
  width: 230px;

  &:hover {
    background: var(--dark-blue);
    border-color: var(--dark-blue);

    @media only screen and (max-width: $breakpoint-640) {
      border-color: #fff;
    }
  }
}

.art-card-text {
  font-size: 0.75rem;
  line-height: 1.1;
  color: var(--black-light);
}

.img-wrap {
  position: relative;
}

.art-card-info {
  position: absolute;
  top: 5px;
  left: 8px;
  color: #fff;
  font-size: 0.5625rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: calc(100% - 10px);

  .reviews {
    background-size: 16px 12px;
    padding: 0 10px 0 26px;
    background-position: 0 center;
  }

  .date {
    padding-left: 10px;
    border-left: 1px solid #fff;
  }
}

.socials-btns {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  a {
    font-size: 0.875rem;
    color: #fff;
    font-weight: 300;
    background: var(--light-blue);
    padding: 2px 10px;
    border-radius: 10px;
    margin: 0 12px 10px 0;

    &:hover {
      text-decoration: none;
    }
  }
}

.comments-form {
  margin: 25px 0 50px;
  position: relative;

  @media only screen and (max-width: $breakpoint-640) {
    margin-top: 0;
  }

  textarea {
    border: 2px solid var(--light-blue);
    border-radius: 0 0 10px 10px;
    background: #fff;
    width: 100%;
  }
}

.panel-tools {
  height: 38px;
  border-radius: 10px 10px 0 0;
  background: var(--light-blue);
}

.btn--comments {
  position: absolute;
  bottom: 0;
  right: 4%;
  transform: translateY(45%);
  width: 196px;
  background: #fff;
  border-color: var(--light-blue);
  color: var(--light-blue);

  &:hover {
    background: var(--light-blue);
    color: #fff;
  }
}

.comments {
  &-sect {
    margin: 32px 0;

    .photo {
      width: 45px;
      min-width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      margin-right: 18px;
    }

    ol, ul {
      list-style: none;
    }
  }

  &-list {
    padding: 0;
  }
}

.comment {
  &-body {
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: $breakpoint-640) {
      padding: 10px;
    }
  }

  &-author {
    display: flex;
    align-items: center;
  }

  &-metadata {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;
    color: var(--black-light);
    font-weight: 300;
    margin-top: 6px;

    a {
      color: var(--black-light);
    }

    & > div {
      padding: 0 15px;
      border-left: 1px solid #d0cfce;
      line-height: 1.3;

      &:first-child {
        padding-left: 0;
        border: none;
      }
    }
  }

  &-content {
    margin-top: 12px;

    p {
      margin: 0;
    }
  }

  &-likes {
    color: var(--dark-blue);
  }
}

.children .comment-body {
  border-color: var(--white-blue);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-100%);
    display: block;
    height: 32px;
    width: 2px;
    background: var(--white-blue);
  }
}

.btn--comments-more {
  width: 196px;
  background: #fff;
  border-color: var(--light-blue);
  color: var(--light-blue);

  &:hover {
    background: var(--light-blue);
    color: #fff;
  }
}

.author {
  &-section {
    border: 1px solid var(--white-blue);
    border-radius: 10px;
    padding: 42px 36px 100px;
    margin-top: 30px;
    background: url("../images/blog-article-2-min.png") 26px 80px no-repeat,
                url("../images/blog-article-3-min.png") 210px 130px no-repeat,
                url("../images/blog-article-4-min.png") 45px 300px no-repeat,
                url("../images/author-bg-top-min.png") -20% -2% no-repeat,
                url("../images/author-bg-bot-min.png") left bottom no-repeat,
                url("../images/blog-article-5-min.png") 170px 300px no-repeat,
                url("../images/blog-article-1-min.png") 115% 90% no-repeat;
    background-size: auto, auto, auto, auto, 100%, auto, auto;
    background-color: #fff;
    box-shadow: var(--round-shadow-alpha-blue-20);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 75px;

    @media only screen and (max-width: $breakpoint-md) {
      padding: 25px 18px 60px;
      margin-bottom: 35px;
    }

    @media only screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-photo {
    margin: 0 9.2% 25px 0;

    @media only screen and (max-width: $breakpoint-md) {
      margin: 0 20px 25px 0;
    }

    img {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-labels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

  &-title {
    color: var(--dark-blue);
    font-weight: 500;
    border-bottom: 1px solid var(--white-blue);
    padding-bottom: 3px;
    margin-bottom: 28px;
  }

  &-text {
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 30px;

    p {
      margin: 0;
    }
  }

  &-services {
    span {
      font-weight: 500;
      color: var(--dark-blue);
    }
  }
}

.labels-item {
  background: var(--opt-blue);
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 2px 20px;
  margin: 0 12px 8px 0;
}

.alike-art {
  margin-bottom: 75px;

  @media only screen and (max-width: $breakpoint-md) {
    margin-bottom: 5px;
  }

  &-items {
    position: relative;
    min-height: 204px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    @media only screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
      align-items: center;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: calc(100% + 80px);
      height: 204px;
      right: 0;
      bottom: 0;
      background: url("../images/alike-articles-bg-min.jpg") no-repeat;
      background-size: cover;

      @media only screen and (max-width: $breakpoint-xl) {
        right: -25px;
        width: calc(100% + 50px);
      }
    }
  }

  &-item {
    width: 230px;
    margin: 0 20px 12px 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: var(--round-shadow-alpha-blue-20);

    &:hover {
      text-decoration: none;
    }
  }
}

.alike-item {
  &-img {
    img {
      display: block;
      width: 100%;
      height: 165px;
      object-fit: cover;
      object-position: center;
    }
  }

  &-cont {
    padding: 14px 12px;
  }

  &-text {
    margin-bottom: 8px;
    font-size: 0.75rem;
    line-height: 1.2;

     p {
       margin: 0;
     }
  }
}
