.main-title {
  padding: 70px 0 80px;

  @media only screen and (max-width: $breakpoint-1090) {
    padding: 30px 0;
  }

  .inner-wrap {
    text-align: center;
  }
}

.blog-main-title {
  font-size: 2.1875rem;
  font-weight: 700;
  border-bottom: 2px solid var(--light-blue);
  display: inline-block;
  text-transform: uppercase;
  padding: 0 20px 10px;
}

.main-cont--blog {
  & > .inner-wrap {
    background: url(../images/spec-bg-round-min.png) 0 12% no-repeat,
                url(../images/blog-main-1-min.png) no-repeat,
                url(../images/blog-main-4-min.png) 0 60% no-repeat,
                url(../images/blog-main-4-min.png) 85% 78% no-repeat,
                url(../images/blog-main-5-min.png) 100% 105% no-repeat;
  }
}
