.top-screen {
  background-color: var(--light-blue);

  & > .inner-wrap {
    background: url("../images/main-top-bg-1.png") 100% 0 no-repeat;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.top-slider-wrap {
  width: 600px;
  min-width: 600px;

  .tns-outer {
    position: relative;

    button[data-action='stop'], button[data-action='start'] {
      display: none;
    }
  }

  .tns-nav {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      padding: 0;
      margin: 0 10px;

      &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        display: block;
        opacity: 0.5;
      }

      &.tns-nav-active:before {
        opacity: 0.8;
      }
    }
  }
}

.slider-item {
  height: 170px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.btn--audit {
  width: 370px;
  background: #fff;
  border-color: #fff;
  color: var(--dark-blue);
  font-size: 1.75rem;
  margin: 25px 0;

  &:hover {
    background: var(--dark-blue);
    border-color: var(--dark-blue);
    color: #fff;
    transition: var(--transition);
  }
}

.top-form {
  .inner-wrap {
    padding-left: 40px;
    padding-right: 0;

    .top-form-wrap {
      border-radius: 45px 0 0;
      background: url("../images/main-top-bg-2.png") 100% 0 no-repeat #fff;
      background-size: auto 100%;
      border-bottom: 3px solid var(--light-blue);
      padding: 28px 80px 27px 40px;
    }
  }

  &-title {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--dark-blue);
    margin-bottom: 50px;
  }
}

.seo-form--main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  label {
    margin: 0;

    span {
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--black-light);
      margin-bottom: 15px;
    }
  }

  input {
    border: 2px solid var(--dark-blue);
    width: 230px;
    font-size: 0.875rem;
    padding: 13px 26px;

    &:focus {
      box-shadow: var(--round-shadow-lblue-15);
    }
  }
}

.btn--top-form {
  width: 200px;
  color: #fff;
  border-color: #fff;

  &:hover {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
    box-shadow: var(--round-shadow-blue-15);
    color: var(--dark-blue);
  }
}

.why {
  padding-top: 65px;
}

.main-sect-title {
  text-transform: uppercase;
  color: var(--black-light);
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

.inner-wrap--why {
  padding: 0;
}

.wave {
  display: flex;

  &-sect {
    width: calc(100% / 6);
    height: 193px;

    &:nth-child(odd) {
      background: url("../images/wave-left-min.png") no-repeat;
      background-size: 100% 100%;
      position: relative;

      .card {
        position: absolute;
        top: 18px;
        right: 0;
        transform: translateX(85px);
        padding-top: 30px;

        &:after {
          top: -21px;
          left: 46px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: var(--light-blue);
        transform: translate(42px,-8px);
      }

      &:after {
        content: '01';
        position: absolute;
        bottom: -3px;
        left: 1px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: var(--round-shadow-alpha-blue-10);
        background: #fff;
        font-size: 1.25rem;
      }
    }

    &:nth-child(even) {
      background: url("../images/wave-right-min.png") no-repeat;
      background-size: 100% 100%;
      position: relative;

      .card {
        position: absolute;
        bottom: 18px;
        right: 0;
        transform: translateX(66px);
        padding-bottom: 30px;

        &:after {
          bottom: -23px;
          left: 43px;
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: var(--dark-blue);
        transform: translate(20px,10px);
      }

      &:after {
        content: '01';
        position: absolute;
        top: -3px;
        left: 1px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: var(--round-shadow-alpha-blue-10);
        background: #fff;
        font-size: 1.25rem;
      }
    }

    &:last-child:after {
      content: '' !important;
      background: url("../images/wave-right-min.png") no-repeat;
      background-size: 100% 100%;
      width: 213px;
      height: 193px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(100%);
      box-shadow: none;
      border-radius: unset;
    }

    .card {
      padding: 15px;
      color: var(--black-light);
      font-size: 1.125rem;
      font-weight: 300;
      box-shadow: var(--round-shadow-alpha-blue-10);
      border-radius: 8px;
      width: 130px;
      line-height: 1.2;
      background: #fff;

      //&:after {
      //  position: absolute;
      //  width: 36px;
      //  height: 36px;
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
      //  border-radius: 50%;
      //  box-shadow: var(--round-shadow-alpha-blue-10);
      //  background: #fff;
      //  font-size: 1.25rem;
      //}
      //
      //&:nth-child(1):after {
      //  content: '01';
      //}
      //
      //&:nth-child(2):after {
      //  content: '02';
      //}
      //
      //&:nth-child(3):after {
      //  content: '03';
      //}
      //
      //&:nth-child(4):after {
      //  content: '04';
      //}
      //
      //&:nth-child(5):after {
      //  content: '05';
      //}
    }
  }
}



