.top-screen {
  background-color: var(--light-blue);

  & > .inner-wrap {
    background: url("../images/main-top-bg-1.png") 100% 0 no-repeat;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.top-slider-wrap {
  width: 600px;
  min-width: 600px;

  .tns-outer {
    position: relative;

    button[data-action='stop'], button[data-action='start'] {
      display: none;
    }
  }

  .tns-nav {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      padding: 0;
      margin: 0 10px;

      &:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        display: block;
        opacity: 0.5;
      }

      &.tns-nav-active:before {
        opacity: 1;
      }
    }
  }
}

.slider-item {
  height: 170px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.btn--audit {
  width: 370px;
  background: #fff;
  border-color: #fff;
  color: var(--dark-blue);
  font-size: 1.75rem;
  margin: 25px 0;

  &:hover {
    background: var(--dark-blue);
    border-color: var(--dark-blue);
    color: #fff;
    transition: var(--transition);
  }
}

.top-form {
  .inner-wrap {
    padding-left: 40px;
    padding-right: 0;

    .top-form-wrap {
      border-radius: 45px 0 0;
      background: url("../images/main-top-bg-2.png") 100% 0 no-repeat #fff;
      background-size: auto 100%;
      border-bottom: 3px solid var(--light-blue);
      padding: 28px 80px 27px 40px;
    }
  }

  &-title {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--dark-blue);
    margin-bottom: 50px;
  }
}

.seo-form--main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  label {
    margin: 0;

    span {
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--black-light);
      margin-bottom: 15px;
    }
  }

  input {
    border: 2px solid var(--dark-blue);
    width: 230px;
    font-size: 0.875rem;
    padding: 13px 26px;

    &:focus {
      box-shadow: var(--round-shadow-lblue-15);
    }
  }
}

.btn--top-form {
  width: 200px;
  color: #fff;
  border-color: #fff;

  &:hover {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
    box-shadow: var(--round-shadow-blue-15);
    color: var(--dark-blue);
  }
}

.why {
  padding-top: 65px;
}

.main-sect-title {
  text-transform: uppercase;
  color: var(--black-light);
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

.inner-wrap--why {
  padding: 0;
}

.wave {
  display: flex;
  padding-bottom: 25px;

  &-sect {
    width: calc(100% / 6);
    height: 193px;

    &:nth-child(odd) {
      background-size: 100% 100%;
      position: relative;

      @media only screen and (min-width: $breakpoint-lg) {
        background: url("../images/wave-left-min.png") no-repeat;
        background-size: 100% 100%;
      }

      .card {
        position: absolute;
        top: 18px;
        right: 0;
        transform: translateX(85px);
        padding-top: 30px;
        box-shadow: 0 6px 0 0 var(--light-blue), var(--round-shadow-alpha-blue-10);
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: var(--light-blue);
        transform: translate(42px,-8px);
      }

      .card-num {
        position: absolute;
        top: -3px;
        right: -37px;
        z-index: 1;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: var(--round-shadow-alpha-blue-10);
        background: #fff;
        font-size: 1.25rem;
      }
    }

    &:nth-child(even) {
      background-size: 100% 100%;
      position: relative;

      @media only screen and (min-width: $breakpoint-lg) {
        background: url("../images/wave-right-min.png") no-repeat;
        background-size: 100% 100%;
      }

      .card {
        position: absolute;
        bottom: 18px;
        right: 0;
        transform: translateX(66px);
        padding-bottom: 30px;
        box-shadow: 0 -6px 0 0 var(--dark-blue), var(--round-shadow-alpha-blue-10);
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: var(--dark-blue);
        transform: translate(20px,10px);
      }

      .card-num {
        position: absolute;
        bottom: -5px;
        right: -15px;
        z-index: 1;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: var(--round-shadow-alpha-blue-10);
        background: #fff;
        font-size: 1.25rem;
      }
    }

    &:last-child:after {
      content: '';

      @media only screen and (min-width: $breakpoint-lg) {
        background: url("../images/wave-right-min.png") no-repeat;
        background-size: 100% 100%;
        width: 213px;
        height: 193px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);
        box-shadow: none;
        border-radius: unset;
      }

      @media only screen and (max-width: 1300px) {
        width: calc(100vw / 6);
      }
    }

    .card {
      padding: 15px;
      color: var(--black-light);
      font-size: 1.125rem;
      font-weight: 300;
      border-radius: 8px;
      width: 130px;
      line-height: 1.2;
      background: #fff;
    }
  }
}

.reasons {
  max-width: 980px;
  padding: 85px 0 70px;
  margin: 0 auto;
  border-bottom: 2px solid var(--light-blue);

  &-item {
    display: flex;
    border-radius: 17px;
    box-shadow: var(--round-shadow-alpha-blue-10);
    height: 160px;
    margin: 30px 0 116px 30px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 283px;
      display: block;
      width: calc(100% - 605px);
      height: 36px;
      z-index: -1;
      border-radius: 0 0 0 10px;
      background: linear-gradient(to right, #e5eafa, var(--dark-blue));
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 285px;
      display: block;
      width: calc(100% - 605px);
      height: 34px;
      z-index: -1;
      border-radius: 0 0 0 8px;
      background: #fff;
    }
  }

  &-img {
    width: 225px;
    height: 225px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-30px, -30px);
  }

  &-num {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: var(--dark-blue);
    font-size: 2.25rem;
    font-weight: 300;
    border-radius: 0 0 25px 25px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 100%;
      right: 48px;
      width: 19px;
      height: 82px;
      z-index: -1;
      border-radius: 0 10px 0 0;
      background: var(--dark-blue);
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 100%;
      right: 50px;
      width: 17px;
      height: 80px;
      z-index: -1;
      border-radius: 0 8px 0 0;
      background: #fff;
    }
  }
}

.pict-side {
  width: 335px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 50px;
    display: block;
    height: 100%;
    width: 2px;
    background: #e5eafa;
  }
}

.info-side {
  width: calc(100% - 335px);
  padding: 25px 32px;
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--black-light);
  line-height: 1.3;
  overflow: hidden;
}

.reasons-item {
  &:nth-child(even) {
    flex-direction: row-reverse;
    margin: 30px 30px 116px 0;

    &:before {
      left: unset;
      right: 283px;
      border-radius: 0 0 10px 0;
      background: linear-gradient(to left,#e5eafa,var(--dark-blue));
    }

    &:after {
      left: unset;
      right: 285px;
      border-radius: 0 0 8px 0;
    }

    .pict-side::after {
      left: 50px;
      right: unset;
    }

    .reasons-img {
      left: unset;
      right: 0;
      transform: translate(30px, -30px);
    }

    .reasons-num {
      right: unset;
      left: 0;
    }
  }

  &:nth-child(odd) {
    .reasons-num {
      &:before {
        right: unset;
        left: 48px;
        width: 19px;
        height: 82px;
        border-radius: 10px 0 0 0;
      }

      &:after {
        right: unset;
        left: 50px;
        width: 17px;
        height: 80px;
        border-radius: 8px 0 0 0;
      }
    }
  }

  &:first-child {
    .reasons-num {
      &:before, &:after {
        display: none;
      }
    }
  }

  &:last-child {
    margin-bottom: 30px;

    &:before, &:after {
      display: none;
    }
  }
}

.guarantees {
  padding: 45px 0 90px;

  &-wrap {
    display: flex;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 0 10px 25px;

    img {
      width: 145px;
      height: 135px;
      display: block;
      object-fit: contain;
      object-position: center;
      margin-bottom: 25px;
    }

    &-text {
      width: 205px;
      text-align: justify;
      color: var(--black-light);
      font-weight: 300;
    }
  }
}

.last-news {
  padding-bottom: 85px;

  &-wrap {
    background: linear-gradient(to right, #66cbff 45%, #76dcff 55%, #75dcff 100%);
    margin: 90px 0 30px;

    .inner-wrap {
      min-height: 400px;
      background: url("../images/last-news-bg.jpg") no-repeat;
      background-size: 100% 100%;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 80px;
        left: -25px;
        display: block;
        width: 200px;
        height: 170px;
        background: url("../images/last-news-rounds.png") no-repeat;
        background-size: contain;
      }
    }
  }
}

.alike-art-items--last {
  margin: 0 -15px;

  &:before {
    display: none;
  }

  .alike-art-item {
    width: calc(33.3333% - 30px);
    margin: 10px 15px;
  }

  .alike-item-img img {
    height: 285px;
  }

  .alike-item-text {
    font-size: 1rem;
    color: var(--black-light);
  }
}

.last-quest {
  width: calc(33.3333% - 30px);
  margin: 0 15px;
  padding: 0 3%;
  position: relative;
  background: transparent;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    height: calc(100% + 60px);
    width: 100%;
    background: url(../images/last-quest-bg.jpg) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }

  &-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
  }

  &-link {
    margin-bottom: 35px;
    color: #fff;
    display: block;
    font-size: 0.875rem;
    font-weight: 300;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;
      color: var(--light-blue);
      transition: var(--transition);
    }
  }
}

.feedback {
  &-rotator {

    .slide-center {
      img {
        //height: 250px;
      }
    }
  }

  &-single {
    margin: 46px 42px;
    box-shadow: var(--round-shadow-alpha-blue-35);
    position: relative;
    transform: scale(0.8);
    filter: grayscale(100%);
    opacity: 0.55;
    transition: var(--transition);
  }

  &-img {
    position: relative;
    overflow: hidden;
    height: 235px;

    &:after {
      content: '';
      position: absolute;
      top: -45px;
      left: -80px;
      display: block;
      width: 180px;
      height: 180px;
      background: url("../images/feedback-foto-bg.png");
      background-size: contain;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &-text {
    font-size: 0.8125rem;
    font-weight: 300;
    color: var(--black-light);
    padding: 48px 28px 32px;
    text-align: justify;
    position: relative;
  }

  &-name {
    font-size: 1.125rem;
    font-weight: 500;
    position: absolute;
    left: 13px;
    top: 0;
    background: #fff;
    transform: translateY(-50%);
    padding: 8px 15px;
    text-transform: uppercase;
    max-width: 180px;
    line-height: 1.3;
  }
}

.glide__slides {
  margin: 0;
}

.glide__slide--active {
  .feedback-single {
    transform: scale(1);
    filter: grayscale(0);
    transition: var(--transition);
    opacity: 1;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -45px;
      left: -80px;
      display: block;
      width: 180px;
      height: 180px;
      background: url("../images/feedback-bg.png");
      background-size: contain;
    }
  }
}

.glide__bullets {
  bottom: 0.8em;
}

