.comments-area {
  label {
    cursor: pointer;
  }

  .comment-form-author label,
  .comment-form-email label,
  .comment-form-cookies-consent label,
  .comment-metadata a,
  .comment-edit-link,
  .comment-reply-link,
  .comment-reply-title
  {
    &:before {
      content: '';
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 5px;
    }
  }

  .comment-reply-title {
    font-size: 1rem;
  }

  .logged-in-as, .comment-notes {
    border-top: #ddd solid 1px;
    padding: 10px 0;
    margin: 0;
    color: #777;
    font-size: 0.875rem;

    a {
      padding: 0 0 0 5px;
      border-left: #ddd solid 1px;

      &:first-child {
        padding: 0;
        border: none;
      }
    }
  }

  .comment-form-comment {
    position: relative;

    label {
      display: none;
    }

    textarea {
      width: 100%;
      border: #ddd solid 1px;
      padding: 15px;
      font-size: 0.875rem;
      color: #777;
    }
  }

  #submit {
    outline: none;
    background: none;
    background-color: transparent;
    color: #4285f4;
    border-radius: 10em;
    border: 2px solid #4285f4;
    white-space: normal;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    word-wrap: break-word;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    text-transform: uppercase;

    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    }
  }

  .comment-body {
    margin-bottom: 10px;
  }

  .comment-list {
    padding: 5px 0;
    list-style: none;

    footer {
      background: #F9F9F9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border: #ddd solid 1px;
      border-bottom: none;
      padding: 5px;

      .fn {
        color: var(--green);
      }
    }

    .comment-metadata {
      font-size: 0.875rem;

      a {
        padding-right: 5px;
      }

      .edit-link {
        padding-left: 5px;
        border-left: #ddd solid 1px;
      }
    }

    .comment-content {
      font-size: 0.875rem;
      border: #ddd solid 1px;
      padding: 5px;

      p {
        margin-bottom: 5px;
      }
    }
  }

  .comment-reply-link {
    font-size: 0.875rem;
  }

  .comment-form-url {
    display: none;
  }

  .comment-form-author, .comment-form-email {
    font-size: 0.875rem;
    color: #777;

    label {
      min-width: 75px;
    }

    input {
      border: #ddd solid 1px;
      padding: 5px;
      color: #777;
    }
  }

  .comment-form-author label:before {
    content: '\f2c0';
  }

  .comment-form-email label:before {
    content: '\e80e';
  }

  .comment-form-cookies-consent {
    input {
      margin-right: 10px;

    }

    label {
      font-size: 0.875rem;
      color: #777;
    }
  }

  ol.children {
    list-style: none;
  }
  
  .icon-edit {
    &:before {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 5rem;
      color: #aaa6a6;
      transition: all ease-in-out .3s;
    }

    &-hide:before {
      transform: scale(0);
      transition: all ease-in-out .3s;
    }
  }

  .comment-form-cookies-consent {
    input {
      display: none;
    }

    label:before {
      content: '\f096';
      margin-right: 10px;
      font-size: 1rem;
      min-width: 15px;
    }

    input:checked ~ label:before {
      content: '\e80b';
    }
  }

  .comment-metadata a:before {
    content: '\e80d';
    margin-right: 0;
  }

  .comment-edit-link:before {
    content: '\e80c' !important;
    margin-right: 5px !important;
  }

  .comment-reply-link:before {
    content: '\f112';
  }

  .comment-reply-title:before {
    content: '\e80a';
  }

}
