footer {
  background-color: var(--dark-blue);

  .inner-wrap {
    padding: 60px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 380px;
      height:380px;
      border-radius: 50%;
      top: 0;
      right: 40px;
      transform: translateY(-70%);
      display: block;
      background: var(--black-blue);
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      width: 380px;
      height: 380px;
      border-radius: 50%;
      bottom: 0;
      left: 65px;
      transform: translateY(85%);
      display: block;
      background: var(--mid-blue);
      z-index: -1;
    }
  }

  &-cont {
    position: relative;
    z-index: 10;
  }

  &-links {
    display: flex;
    width: 60%;
    flex-wrap: wrap;

    &-item {
      width: 33.3333%;
      padding-right: 5%;
    }
  }
}
