footer {
  background: $footer;
  color: #fff;

  h2,h3,h4,h5,h6,.h2,.h3,.h4,.h5,.h6 {
    @media only screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }
}

.footer {
  &-main {
    display: flex;

    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media only screen and (max-width: 575px) {
      flex-wrap: nowrap;
    }
  }

  &-img {
    img {
      width: 100px;
      height: auto;
    }
  }

  &-descr {
    font-size: 0.9rem;
  }
}

.more, .tags {
  font-size: 0.9rem;
}

.subscribe {
  &-info {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: var(--teal);
    line-height: 1.1rem;
    text-align: center;
    margin-left: 10px;
    display: none;
  }

  &-block {
    position: relative;
    display: flex;
    align-items: center;

    &--blocked {
      &:after {
        content: attr(data-block-title);
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 0;
        max-width: 260px;
        padding: 5px;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        transition: linear all .3s;
        font-size: 0.8rem;
        opacity: 0;
        visibility: hidden;
      }

      .subscribe-info {
        display: block;
      }
    }

    &--blocked:hover:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.unsubscribe {
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  background: none;
  padding: 0 0 0 2.25rem;

  .custom-control-label {
    line-height: 1.5rem;
  }

  &-true {
    .custom-control-label {
      &:before {
        color: #fff;
        border-color: #007bff;
        background-color: #007bff;
      }

      &:after {
        background-color: #fff;
        transform: translateX(.75rem);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.animated {
  opacity: 0.4;
  pointer-events: none;
}