header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background: var(--white);
}

.logo {
  display: flex;
}

.main-menu-btn {
  position: relative;
  width: 20px;
  cursor: pointer;
  z-index: 100;

  //@media only screen and (min-width: 860px) {
  //  display: none;
  //}
}

.line-1, .line-2, .line-3 {
  height: 2px;
  background: #000;
  position: relative;
  display: block;
  width: 20px;
  top: 0;
  margin-bottom: 3px;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.line-2{
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.line-3 {
  margin-bottom: 0;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.cross, .cross:after{
  position: absolute;
  width: 0;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cross{
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross:after{
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.menu-active {
  .line-1 {
    width: 0;
  }

  .line-2 {
    width: 0;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .line-3 {
    width: 0;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .cross {
    width: 20px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .cross:after {
    width: 20px;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}
