.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);

  &-inner-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 10;
  }

  &-open {
    visibility: visible;
    opacity: 1;
    transition: var(--transition);
  }

  &-close {
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 100;
    cursor: pointer;
  }

  &-form {
    width: calc(100vw - 20px);
    max-width: 480px;
    position: absolute;
    z-index: 100;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: calc(100vh - 50px);
    overflow: auto;
    margin: 0;
  }
}

//.modal-form {
//  width: calc(100vw - 20px);
//  max-width: 480px;
//  position: absolute;
//  z-index: 100;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%,-50%);
//  max-height: calc(100vh - 20px);
//  overflow: auto;
//  margin: 0;
//}
