.pagination {
  flex-wrap: wrap;

  .page-item {
    width: 65px;
    height: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .page-item a, &:last-child a {
      font-size: 1.5rem;
    }
  }
}

.page-item--outside a {
  font-size: 1.5rem !important;
  margin-top: -6px;
}
