.pagination {
  padding: 75px 0;

  @media only screen and (max-width: $breakpoint-1090) {
    padding: 30px 0;
  }

  &-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: $breakpoint-sm) {
      justify-content: center;
      position: relative;
    }
  }
}

.page-links {
  display: flex;
  align-items: center;

  a, span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 7px 9px rgba(0,51,204,.1);
    color: var(--gray-dark);
    font-size: 0.75rem;
  }

  a:hover {
    text-decoration: none;
    transition: var(--transition);
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
    color: #fff;
  }
}

.prev-page {
  margin-right: 15px;

  a, span {
    display: flex;
    align-items: center;
    font-size: 0.75rem;

    @media only screen and (max-width: $breakpoint-sm) {
      position: absolute;
      top: 100%;
      left: 0;
    }

    &:before {
      content: '\2039';
      margin-right: 10px;
      background-color: var(--light-blue);
      display: flex;
      width: 16px;
      height: 16px;
      color: #fff;
      border-radius: 50%;
      justify-content: center;
      align-items: flex-end;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  span {
    color: var(--light-gray);

    &:before {
      background-color: var(--light-gray);
    }
  }

  a {
    color: var(--black-light);
  }
}

.next-page {
  margin-left: 15px;

  a, span {
    display: flex;
    align-items: center;
    font-size: 0.75rem;

    @media only screen and (max-width: $breakpoint-sm) {
      position: absolute;
      top: 100%;
      right: 0;
    }

    &:after {
      content: '\203a';
      margin-left: 10px;
      background-color: var(--light-blue);
      display: flex;
      width: 16px;
      height: 16px;
      color: #fff;
      border-radius: 50%;
      justify-content: center;
      align-items: flex-end;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  span {
    color: var(--light-gray);

    &:after {
      background-color: var(--light-gray);
    }
  }

  a {
    color: var(--black-light);
  }
}
