.sidebar {
  &-cont {
    background: transparent;
    border: 2px solid var(--dark-blue);
    border-radius: 17px;
    position: relative;
    z-index: 10;
  }

  &-form {
    background: url("../images/form-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
    width: calc(100% + 4px);
    z-index: 10;
    left: -2px;
    top: -2px;
    padding: 20px 40px;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;

    &--form {
      margin-bottom: 65px;
    }

    &--services {
      color: var(--dark-blue);
    }
  }

  &-services {

  }
}

.seo-form {
  input {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--dark-blue);
    padding: 16px 26px;
    border: none;
    border-radius: 22px;
  }

  label {
    margin-bottom: 30px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-size: 0.875rem;
      color: var(--dark-blue);
      margin-bottom: 6px;
      display: block;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 22px;
    position: relative;

    &:hover {
      background: #fff;
      border: 2px solid var(--dark-blue);
      color: var(--dark-blue);
      transition: var(--transition);
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -18px;
      height: 1px;
      width: calc(100% + 20px);
      background: #fff;
      opacity: 0.4;
    }
  }
}

.inputs-side {
  margin-bottom: 40px;
}

.shadow {
  box-shadow: var(--round-shadow-blue-15);
}

.services {
  &-title {

  }
}
