.sidebar {
  &-cont {
    @media only screen and (max-width: $breakpoint-1090) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-form {
    background: url("../images/form-bg.jpg") no-repeat;
    background-size: cover;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    padding: 20px 40px;

    @media only screen and (max-width: $breakpoint-1090) {
      position: static;
      width: 300px;
      padding: 20px;
      margin: 10px;
    }
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;

    &--form {
      margin-bottom: 65px;
    }

    &--services {
      color: var(--dark-blue);
    }
  }

  &-services {
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 0 0 17px 17px;
    border: 2px solid var(--dark-blue);
    overflow: hidden;
    position: relative;
    z-index: 5;
    top: -14px;

    @media only screen and (max-width: $breakpoint-1090) {
      position: static;
      width: 300px;
      padding: 20px;
      border-radius: 17px;
      margin: 10px;
    }
  }

  &-nav ul li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      position: relative;
      padding: 10px 10px 10px 64px;
      text-align: left;


      &:hover {
        text-decoration: none;
      }
    }
  }

  &-announce {
    padding: 60px 30px;
    border-radius: 0 0 17px 17px;
    background: url("../images/announce-bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
    top: -28px;

    @media only screen and (max-width: $breakpoint-1090) {
      position: static;
      border-radius: 17px;
      width: 300px;
      padding: 20px;
      margin: 10px;
    }
  }

  &-commerc {
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;
    display: block;
    border-radius: 17px;
    overflow: hidden;
    width: 320px;

    @media only screen and (max-width: $breakpoint-1090) {
      width: 300px;
      margin: 10px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  @media only screen and (max-width: $breakpoint-1090) {
    margin-top: 25px;
    width: 100%;
  }
}

.fixed-top {
  position: fixed;
  top: 70px;
}

.seo-form {
  input {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--light-purple);
    padding: 16px 26px;
    border: none;
    border-radius: 22px;

    &:focus {
      box-shadow: var(--round-shadow-blue-15);
      transition: var(--transition);
      color: var(--dark-blue);
    }
  }

  label {
    margin-bottom: 30px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-size: 0.875rem;
      color: var(--dark-blue);
      margin-bottom: 6px;
      display: block;
    }
  }
}

.btn {
  &--seo-form {
    border: 2px solid #fff;
    position: relative;
    color: #fff;

    &:hover {
      background: var(--dark-blue);
      border: 2px solid var(--dark-blue);
      color: #fff;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -18px;
      height: 1px;
      width: calc(100% + 20px);
      background: #fff;
      opacity: 0.4;
    }
  }

  &--services {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    color: #fff;
    justify-content: left;
    background-repeat: no-repeat;
    background-position: 15px center;

    &:hover {
      background-color: var(--light-blue);
      border: 2px solid var(--light-blue);
      color: #fff;
      box-shadow: var(--round-shadow-lblue-15);
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      left: 54px;
      width: 1px;
      height: calc(100% - 16px);
      background: #fff;
      opacity: .5;
    }
  }

  &--back-white {
    background-color: #fff;
    color: var(--dark-blue);

    &:before {
      background-color: var(--dark-blue);
    }

    &:hover:before {
      background-color: #fff;
    }
  }
}

.inputs-side {
  margin-bottom: 40px;
}

.bg {
  &-trophy {
    background-image: url("../images/icons/trophy-min.png");
    background-size: 26px 30px;
  }

  &-inform {
    background-image: url("../images/icons/information-min.png");
    background-size: 31px;
  }

  &-social {
    background-image: url("../images/icons/social-media-min.png");
    background-size: 34px;
  }

  &-link {
    background-image: url("../images/icons/web-link-min.png");
    background-size: 25px;
  }

  &-text {
    background-image: url("../images/icons/text-height-adjustment-min.png");
    background-size: 25px 20px;
  }

  &-wallet {
    background-image: url("../images/icons/wallet-white-min.png");
    background-size: 24px;

    &.btn--back-white {
      background-image: url("../images/icons/wallet-min.png");

      &:hover {
        background-image: url("../images/icons/wallet-white-min.png");
      }
    }
  }
}

.announce-post {
  padding-left: 68px;
  text-align: justify;
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 45px;
  background-position: left top;
  background-repeat: no-repeat;

  &:last-child {
    margin-bottom: 0;
  }
}

.info-post {
  background-image: url("../images/icons/info-min.png");
  background-size: 42px;
}

.comment-post {
  background-image: url("../images/icons/comment-oval-min.png");
  background-size: 42px;
}
